{% extends 'gallery/base.html' %}

{% block title %}News{% endblock title %}

{% block content %}
    <div class="container">
        <div class="gallery-grid">
            {% for image in images %}
                <div class="gallery-flex">
                    <div class="gallery-img">
                        <img class="gallery-img" src="{{ image.img.url }}" alt="{{ image.caption }}">
                    </div>
                    <p class="gallery-img">{{ image.author.username }} | {{ image.date }} | {{ image.time }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block bottom_nav %}
    <section class="bottom-naw-section">
        <div class="container">
            <div class="bottom-nav-wrapper">
                {% if prev_page %}
                    <a class="arrow" href="{% url 'news' %}?page={{ prev_page }}&show={{ show }}&sort={{ sort }}">←</a>
                {% else %}
                    <span class="arrow"></span>
                {% endif %}
                <a href="{% url 'news_settings' %}">page {{ page }} / {{ max_page }}</a>
                {% if next_page %}
                    <a class="arrow" href="{% url 'news' %}?page={{ next_page }}&show={{ show }}&sort={{ sort }}">→</a>
                {% else %}
                    <span class="arrow"></span>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock bottom_nav %}