{% extends 'gallery/base.html' %}

{% block title %}Picture{% endblock title %}

{% block content %}
    <div class="container">
        <div class="picture-content">
            <div class="picture-wrapper">
                <img class="picture" src="{{ image_object.img.url }}" alt="Picture">
            </div>
            <div class="picture-description">
                <a href="{% url 'profile' image_object.author.username %}">{{ image_object.author.username }}
                    ({{ image_object.author.first_name }} {{ image_object.author.last_name }})</a>
                <p>{{ image_object.date }} {{ image_object.time }}</p>
                <form action="{% url 'picture_edit_done' image_object.id %}" method="POST">
                    {% csrf_token %}
                    <p><input type="text" value="{{ image_object.caption }}" placeholder="caption" name="caption"></p>
                    <button type="submit" class="profile-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}